.btn{
    background:hsl(322, 100%, 66%);
    color: #ffffff;
    padding:10px 50px;
    font-size: 19px;
    cursor: pointer;
    border: none;
    border-radius: 40px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    margin-top: 25px;
    
}
.btn:hover{
    opacity: 0.5;
    transition: all 0.3s ease-in;
}